@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global form input styles */
@layer base {
  input,
  select,
  textarea {
    @apply text-gray-900;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400;
  }
}
